{{#partial "contenido"}}
<div>
    <h1 class = "content">Mis mascotas</h1>
    <br>

    <form action="/mis_mascotas" method="post">
        <input type="submit" value="Registrar nueva mascota">
    </form>


    <br><br>
    
    {{#each Mascotas}}
            <div class="cuadroMascota">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="/{{fotoString}}" alt="{{this.nombre}}" style="width:100%">
                        </div>
                    <div class="col">
                        <h4><b>{{this.nombre}}</b> - {{this.apodo}}</h4>
                        <p><b>Tipo Mascota</b>: {{this.tipoMascota}}</p>
                        <p><b>ID chapita</b>: {{this.chapita}}</p>
                        <p><b>Sexo</b>: {{this.sexoString}}</p>
                        <p><b>Descripcion Mascota</b>: {{this.descripcion}}</p>
                        <p><b>Asociacion</b>: {{this.nombreAsociacionString}}</p>
                        <form action="/mascotas/{{idMascotaString}}/publicarAdopcion" method="post" align="right">
                            <input type="submit" value="Dar en adopcio패n" onclick="return confirm('Seguro desea publicar en adopcio패n?');">
                        </form>
                        <form action="/mascotas/{{idMascotaString}}/perdida" method="post" align="right">
                            <input type="submit" value="Perdi패 mi mascota" onclick="return confirm('Seguro perdio패 su mascota?');">
                        </form>
                    </div>
                    </div>

                </div>
            </div>
            <br>
    {{/each}}

    <!-- Eliminar codigo duplicado -->
    {{#if Perdidas}}
        <br><br>
        <h2>Perdidas:</h2>
        (Insertar ID chapita en publicaciones para recuperar)
        <br><br>
        {{#each Perdidas}}
            <div class="cuadroMascota">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="/{{fotoString}}" alt="{{this.nombre}}" style="width:100%">
                        </div>
                        <div class="col">
                            <h4><b>{{this.nombre}}</b> - {{this.apodo}}</h4>
                            <p><b>Tipo Mascota</b>: {{this.tipoMascota}}</p>
                            <p><b>ID chapita</b>: {{this.chapita}}</p>
                            <p><b>Sexo</b>: {{this.sexoString}}</p>
                            <p><b>Descripcion Mascota</b>: {{this.descripcion}}</p>
                            <p><b>Asociacion</b>: {{this.nombreAsociacionString}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        {{/each}}
    {{/if}}

    <!-- Eliminar codigo duplicado -->
    {{#if MascotasComprometidas}}
        <br><br>
        <h2>Comprometidas:</h2>
        (Publicadas)
        <br><br>
        {{#each MascotasComprometidas}}
            <div class="cuadroMascota">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="/{{fotoString}}" alt="{{this.nombre}}" style="width:100%">
                        </div>
                        <div class="col">
                            <h4><b>{{this.nombre}}</b> - {{this.apodo}}</h4>
                            <p><b>Tipo Mascota</b>: {{this.tipoMascota}}</p>
                            <p><b>ID chapita</b>: {{this.chapita}}</p>
                            <p><b>Sexo</b>: {{this.sexoString}}</p>
                            <p><b>Descripcion Mascota</b>: {{this.descripcion}}</p>
                            <p><b>Asociacion</b>: {{this.nombreAsociacionString}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        {{/each}}
    {{/if}}

</div>
{{/partial}}

{{>layout.hbs}}