{{#partial "contenido"}}
<div align ="center">
    <h1 class = "content">Muro de publicaciones</h1>
    <b>Bienvenido:</b> {{ Titulo }}  <br><br>

    <br>

    <form action="/muro/{{nro_pag}}" method="GET">
        <label>Animal:</label>
        <select name="animal">
            <option value="all">Todos</option>
            <option value="GATO">Gato</option>
            <option value="PERRO">Perro</option>
            <option value="MINIPIG">MiniPig</option>
        </select>
        <label>Tipo Publicación:</label>
        <select name="tipoPubli">
            <option value="all">Todas</option>
            <option value="perdida">Perdida</option>
            <option value="adopcion">En adopción</option>
        </select>
        <label>Ordenar:</label>
        <select name="orden">
            <option value="default">Orden</option>
            <option value="autor">Por autor</option>
            <option value="asociacion">Por asociación</option>
            <option value="fecha">Por fecha</option>
        </select>
        <label>Mostrar:</label>
        <select name="estado">
            <option value="vigentes">Vigentes</option>
            <option value="finalizadas">Finalizadas</option>
        </select>
        <br><br>
        <input type="submit" value="Actualizar" >
    </form>

    <br>

    
    {{#each Publicaciones}}
            {{>(lookup . 'this.tipoPublihbs')}}
        <br>
    {{/each}}

    <br>
    <tr>
        {{#if nro_pag}}
        <td><a onclick="window.location='/muro/{{dec nro_pag}}'+window.location.search;" class="button">&lt;---- Página anterior</a></td>
        {{else}} Primera página {{/if}}
        <td>__________ {{nro_pag}} __________</td>
        {{#if ultima_pag}}
        <td><a onclick="window.location='/muro/{{inc nro_pag}}'+window.location.search;" class="button">Página siguiente ----&gt;</a></td>
        {{else}} Última página {{/if}}
    </tr>


</div>
{{/partial}}

{{>layout.hbs}}