{{#partial "contenido"}}
    <h1 class = "content">Publicación Adopción</h1>
    ID: {{Publicacion.idString}}
    <br><br>

    {{#with Publicacion}}
    {{>publiAdopcion.hbs}}

    <br>
    <h3 class="titleProfile">Dueño oferente:</h3>
    <div class= "containerPubli">
        <p></p>
        <p><b>Usuario</b>: {{userString}}</p>
        <p><b>Nombre</b>: {{autorString}}</p>
        <p><b>Datos contacto</b>: {{contactoString}}</p>
    </div>

    <br>

    <h3 class="titleProfile">Adoptante:</h3>
    <div class= "containerPubli">
    {{#if isPublicada}}
        {{#if awaitingConfirmation}}
        Esperando confirmación del dueño
        <p>Mascota reservada por:</p>
            <p><b>Usuario</b>: {{adoptanteUserString}}</p>
            <p><b>Nombre</b>: {{adoptanteString}}</p>
            <p><b>Fecha de reserva</b>: {{fechaAdopcion}}</p>
                <form action="/publicaciones/{{idString}}/cancelarReserva" method="post" align="center">
                    <input type="submit" value="Cancelar reserva" onclick="return confirm('Seguro desea cancelar?');" {{#if esReservador}}{{else}}title="boton para el reservador" disabled{{/if}}>
                </form>
        {{else}}
            <p><b>Mascota disponible</b></p>
            <form action="/publicaciones/{{idString}}/adoptar" method="post" align="center">
                <input type="submit" value="Adoptar mascota" onclick="return confirm('Seguro desea adoptar?');" {{#if puedeAdoptar}}title="debe ser un usuario comun distinto del duenio" disabled{{/if}}>
            </form>
        {{/if}}
    {{/if}}

    {{#if isFinalizada}}
        {{#if concretada}}
            Mascota ya adoptada
            <p><b>Nuevo dueño</b>: {{adoptanteString}} ({{adoptanteUserString}})</p>
            <p><b>Fecha de adopción</b>: {{fechaAdopcion}}</p>
            <br>
            {{#if esReservador}}
            <p>El dueño ya ha aceptado la adopción. Si no recibe su nueva mascota a la brevedad, por favor contactese con él.</p>
            {{/if}}
        {{else}}
            <h3 style="color:red">PUBLICACION CANCELADA O RECHAZADA</h3>
        {{/if}}
    {{/if}}

    {{#if isPendiente}}
        <h2 style="color:red">PUBLICACION PENDIENTE</h2>
        <p>Contactese con su voluntario mas cercano</p>
    {{/if}}

    </div>
    {{/with}}

{{/partial}}

{{>layout.hbs}}