<div class="carta2">
    <div class="container">
Interés de Adopción

        <br><br>

        <div class="contenedor">
            <br>
            <p><b>Interesado</b>: {{autorString}}</p>
            <p><b>Animal</b>: {{animal}}</p>
            <b>Preferencias</b>:
            {{#each preferencias}}
                {{this.nombre}}: {{this.valor}},
            {{/each}}
            <br><br>
            <b>Comodidades</b>:
            {{#each comodidades}}
                {{this.nombre}}: {{this.valor}},
            {{/each}}
            <br><br>
            <p><b>Ultima reco</b>: {{ultimaRecomendacion}}</p>
            <form action="/publicaciones/{{idString}}" method="get" align="right">
                <input type="submit" value="Ver Detalles">
            </form>
        </div>

    </div>
</div>