<div class="carta">
    <div class="container">

Mascota Perdida
        <div class="row">
            <div class="col">
                <img src="/{{fotoString}}" alt="Mascota Perdida" style="width:100%">
            </div>
            <div class="col">
                <p><b>Estado</b>: {{estadoMascotaString}}</p>
                <p><b>Animal</b>: {{animal}}</p>
                <p><b>Ubicación</b>: {{ubicacionEncontrada}}</p>
                <p><b>Rescatista</b>: {{autorString}}</p>
                <p><b>Fecha</b>: {{fechaString}}</p>
            </div>
        </div>

        <div class="contenedor">
            <br>
            <p><b>En hogar de tránsito</b>: {{hogarTransito}}</p>
            <p><b>Asociacion asignada</b>: {{asociacionString}}</p>
            <form action="/publicaciones/{{idString}}" method="get" align="right">
                <input type="submit" value="Ver Publicacion" {{#if ../tipoUsuario}}{{else}}title="inicie sesión para ver detalles" disabled{{/if}}>
            </form>
        </div>
    </div>
</div>