<div class="carta">
    <div class="container">
Mascota En Adopción
        <div class="row">
            <div class="col">
                <img src="/{{fotoString}}" alt="{{nombreMascota}}" style="width:100%">
            </div>
            <div class="col">
                <h4><b>{{nombreMascota}}</b> - {{apodoMascota}}</h4>
                <p><b>Animal</b>: {{animal}}</p>
                <p><b>Dueño</b>: {{autorString}}</p>
                {{#if isFinalizada}}
                    <p><b>Nuevo dueño</b>: {{adoptanteString}}</p>
                {{/if}}
                <p><b>Fecha</b>: {{fechaString}}</p>
            </div>
        </div>

        <div class="contenedor">
            <br>
            <p><b>Ubicación</b>: {{ubicacionDuenio}}</p>
            <p><b>Asociacion asignada</b>: {{asociacionString}}</p>
            <form action="/publicaciones/{{idString}}" method="get" align="right">
                <input type="submit" value="Ver Publicacion" {{#if ../tipoUsuario}}{{else}}title="inicie sesión para ver detalles" disabled{{/if}}>
            </form>
        </div>
    </div>
</div>