<div class="carta">
    <div class="container">

Mascota Perdida
        <div class="row">
            <div class="col">
                <img src="/{{fotoString}}" alt="Mascota Perdida" style="width:100%">
            </div>
            <div class="col">
                <p><b>Estado</b>: {{estadoMascotaString}}</p>
                <p><b>Animal</b>: {{animal}}</p>
                <p><b>Ubicacio패n</b>: {{ubicacionEncontrada}}</p>
                <p><b>Rescatista</b>: {{autorString}}</p>
                {{#if isFinalizada}}
                    {{#if concretada}}
                        <p><b>Nuevo due침o</b>: {{adoptanteString}}</p>
                    {{else}}
                        <p style="color:red">PUBLICACION CANCELADA O RECHAZADA</p>
                    {{/if}}
                {{/if}}
                <p><b>Fecha</b>: {{fechaString}}</p>
            </div>
        </div>

        <div class="contenedor">
            <br>
            <p><b>En hogar de tra패nsito</b>: {{hogarTransito}}</p>
            <p><b>Asociacion asignada</b>: {{asociacionString}}</p>
            <form action="/publicaciones/{{idString}}" method="get" align="right">
                <input type="submit" value="Ver Publicacion" {{#if ../tipoUsuario}}{{else}}title="inicie sesio패n para ver detalles" disabled{{/if}}>
            </form>
        </div>
    </div>
</div>